# 1차시

In [1]:
import pandas as pd

In [8]:
poke = pd.read_csv("data/pokemon.csv", usecols=['Pokemon'], squeeze=True)

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\1292718529.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  poke = pd.read_csv("data/pokemon.csv", usecols=['Pokemon'], squeeze=True)

In [12]:
st = pd.read_csv('data/stock.csv',squeeze=True)

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\2602963188.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  st = pd.read_csv('data/stock.csv',squeeze=True)

In [13]:
print(poke)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [14]:
print(st)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [16]:
poke.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [17]:
poke.tail(8)

713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [18]:
poke.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [19]:
poke.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [23]:
poke.sort_values(ascending = False, inplace=True)

In [26]:
poke.sort_values(inplace=True)

In [27]:
poke

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [28]:
poke.sort_index(ascending=True, inplace=True)
poke

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [30]:
poke = pd.read_csv("data/pokemon.csv", index_col = 'Pokemon', squeeze=True)
poke

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\2238848651.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  poke = pd.read_csv("data/pokemon.csv", index_col = 'Pokemon', squeeze=True)

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [35]:
type(poke[4])

str

In [34]:
poke[[1,2,3]]

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [37]:
poke[1:4]

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [40]:
poke[['Ivysaur','Charmander']]

Pokemon
Ivysaur       Grass
Charmander     Fire
Name: Type, dtype: object

In [41]:
poke['Ivysaur':'Charmander']

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [43]:
poke.reindex(index=['Ivysaur','lizard']) # 해당 index가 없다면 생성

Pokemon
Ivysaur    Grass
lizard       NaN
Name: Type, dtype: object

In [47]:
poke.get(['Ivysaur','lizard']) #있으면 출력, 없으면 pass

In [49]:
st.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [51]:
st.count() #데이터의 개수

3012

In [52]:
st.sum() #값의 값

1006942.0

In [53]:
st.mean()

334.31009296148744

In [54]:
st.std() #표준편차

173.18720477113106

In [55]:
st.var() #분산

29993.807896437687

In [56]:
st.min()

49.95

In [57]:
st.max()

782.22

In [58]:
st.idxmin() #최솟값의 인덱스 출력

11

In [60]:
st[11]

49.95

In [61]:
st.idxmax() #최대값의 인덱스 출력

3011

In [62]:
st.median() #중앙값

283.315

In [63]:
st.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [65]:
st.add(3) #각각의 요소에 +3

0        53.12
1        57.10
2        57.65
3        55.38
4        55.95
         ...
3007    775.88
3008    774.07
3009    776.18
3010    774.61
3011    785.22
Name: Stock Price, Length: 3012, dtype: float64

In [67]:
st.sub(3)

0        47.12
1        51.10
2        51.65
3        49.38
4        49.95
         ...
3007    769.88
3008    768.07
3009    770.18
3010    768.61
3011    779.22
Name: Stock Price, Length: 3012, dtype: float64

In [68]:
st.mul(-1)

0       -50.12
1       -54.10
2       -54.65
3       -52.38
4       -52.95
         ...
3007   -772.88
3008   -771.07
3009   -773.18
3010   -771.61
3011   -782.22
Name: Stock Price, Length: 3012, dtype: float64

In [71]:
st = st.div(2)

In [72]:
st

0        25.060
1        27.050
2        27.325
3        26.190
4        26.475
         ...
3007    386.440
3008    385.535
3009    386.590
3010    385.805
3011    391.110
Name: Stock Price, Length: 3012, dtype: float64

In [73]:
poke.value_counts() # value가 포함된 횟수 반환, 내림차순

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [74]:
poke.unique() # unique() : value의 종류 반환, 중복없음

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [75]:
poke.nunique() # nunique() : value의 개수 반환, 중복없음

18

# 2차시

In [76]:
import pandas as pd

In [77]:
nba = pd.read_csv("data/nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [78]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [80]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [82]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [83]:
nba.axes #index, columns 한꺼번에 확인 가능

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [85]:
nba.dtypes #각각의 컬럼별 데이터 타입을 한번에 확인 가능

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [86]:
nba.info() #데이터 프레임의 정보 한번에 확인 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [88]:
nba['Name'] #Column 명 입력시 확인 가능

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [90]:
type(nba[['Name','Team']])

pandas.core.frame.DataFrame

In [92]:
sel = ['Name',"Team",'Position']
nba[sel]

              Name            Team Position
0    Avery Bradley  Boston Celtics       PG
1      Jae Crowder  Boston Celtics       SF
2     John Holland  Boston Celtics       SG
3      R.J. Hunter  Boston Celtics       SG
4    Jonas Jerebko  Boston Celtics       PF
..             ...             ...      ...
453   Shelvin Mack       Utah Jazz       PG
454      Raul Neto       Utah Jazz       PG
455   Tibor Pleiss       Utah Jazz        C
456    Jeff Withey       Utah Jazz        C
457            NaN             NaN      NaN

[458 rows x 3 columns]

In [93]:
nba['Name':'Age'] # Column은 범위로 출력 불가능 (loc 매소드 사용해야 가능)

TypeError: cannot do slice indexing on RangeIndex with these indexers [Name] of type str

In [94]:
nba.loc[:,"Name":"Age"]

              Name            Team  Number Position   Age
0    Avery Bradley  Boston Celtics     0.0       PG  25.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0
2     John Holland  Boston Celtics    30.0       SG  27.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0
..             ...             ...     ...      ...   ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0
457            NaN             NaN     NaN      NaN   NaN

[458 rows x 5 columns]

In [95]:
nba["Group"] = 'ball game'
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Group
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,ball game
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,ball game
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,ball game
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,ball game
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,ball game
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,ball game
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,ball game
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,ball game
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,ball game
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ball game

In [96]:
nba.insert(3, column='gender', value='male')
nba.head()

,Name,Team,Number,gender,Position,Age,Height,Weight,College,Salary,Group
0,Avery Bradley,Boston Celtics,0.0,male,PG,25.0,6-2,180.0,Texas,7730337.0,ball game
1,Jae Crowder,Boston Celtics,99.0,male,SF,25.0,6-6,235.0,Marquette,6796117.0,ball game
2,John Holland,Boston Celtics,30.0,male,SG,27.0,6-5,205.0,Boston University,NaN,ball game
3,R.J. Hunter,Boston Celtics,28.0,male,SG,22.0,6-5,185.0,Georgia State,1148640.0,ball game
4,Jonas Jerebko,Boston Celtics,8.0,male,PF,29.0,6-10,231.0,NaN,5000000.0,ball game

In [97]:
nba.insert(5, column='Group', value='basket')
nba.head()

ValueError: cannot insert Group, already exists

In [99]:
nba.insert(9, column = 'Salary(m)', value = nba['Salary']/1000000)

ValueError: cannot insert Salary(m), already exists

In [100]:
nba

,Name,Team,Number,gender,Position,Age,Height,Weight,College,Salary(m),Salary,Group
0,Avery Bradley,Boston Celtics,0.0,male,PG,25.0,6-2,180.0,Texas,7.730337,7730337.0,ball game
1,Jae Crowder,Boston Celtics,99.0,male,SF,25.0,6-6,235.0,Marquette,6.796117,6796117.0,ball game
2,John Holland,Boston Celtics,30.0,male,SG,27.0,6-5,205.0,Boston University,NaN,NaN,ball game
3,R.J. Hunter,Boston Celtics,28.0,male,SG,22.0,6-5,185.0,Georgia State,1.148640,1148640.0,ball game
4,Jonas Jerebko,Boston Celtics,8.0,male,PF,29.0,6-10,231.0,NaN,5.000000,5000000.0,ball game
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,male,PG,26.0,6-3,203.0,Butler,2.433333,2433333.0,ball game
454,Raul Neto,Utah Jazz,25.0,male,PG,24.0,6-1,179.0,NaN,0.900000,900000.0,ball game
455,Tibor Pleiss,Utah Jazz,21.0,male,C,26.0,7-3,256.0,NaN,2.900000,2900000.0,ball game
456,Jeff Withey,Utah Jazz,24.0,male,C,26.0,7-0,231.0,Kansas,0.947276,947276.0,ball game
457,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ball game

In [102]:
nba["Team"].unique()

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz',
       nan], dtype=object)

In [104]:
nba["Team"].nunique() #전체 value의 개수

30

In [107]:
nba["Team"].value_counts() #각각의 value가 몇번 등장하는지 확인가능

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [108]:
score = pd.read_csv("data/score.csv")
score

   id  Korean  English  Math  Total
0   1      96       81    75    252
1   2      79       98    89    266
2   3      95       87    83    265
3   4      86       85    76    247
4   5      82       98   100    280
5   6      82       83    79    244
6   7      93       94    79    266
7   8      98       80    95    273

In [109]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       8 non-null      int64
 1   Korean   8 non-null      int64
 2   English  8 non-null      int64
 3   Math     8 non-null      int64
 4   Total    8 non-null      int64
dtypes: int64(5)
memory usage: 448.0 bytes

In [111]:
score.sum(axis=0) # 각 열의 합

id           36
Korean      711
English     706
Math        676
Total      2093
dtype: int64

In [112]:
score.sum(axis=1) #각 행의 합

0    505
1    534
2    533
3    498
4    565
5    494
6    539
7    554
dtype: int64

In [113]:
score.std()

id          2.449490
Korean      7.453427
English     7.401737
Math        9.227289
Total      12.727221
dtype: float64

In [114]:
score.max()

id           8
Korean      98
English     98
Math       100
Total      280
dtype: int64

In [115]:
score.mean()

id           4.500
Korean      88.875
English     88.250
Math        84.500
Total      261.625
dtype: float64

# 3차시

In [116]:
nba = pd.read_csv("data/nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [120]:
nba.dropna(inplace=True) #NaN가 포함된 행 삭제
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [121]:
nba = pd.read_csv("data/nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [123]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
nba.dropna(how="all", inplace=True) #모든 데이터가 NaN일때 삭제
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [126]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 35.7+ KB

In [127]:
nba.dropna(axis=1) #NaN를 포함하고 있는 열 모두 삭제

              Name            Team  Number Position   Age Height  Weight
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

[457 rows x 7 columns]

In [128]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [130]:
nba.dropna(subset=['Salary']) #특정 열의 NaN가 포함된 행 삭제

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [132]:
nba.dropna(subset=['College','Salary']) #선택한 두 열의 NaN가 포함되있는 행 삭제

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [133]:
nba.dropna(subset=['College','Salary'],how='all') #해당 열에 NaN이 동시에 포함되있을 때 삭제

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0