# 1차시

In [1]:
import pandas as pd

In [8]:
poke = pd.read_csv("data/pokemon.csv", usecols=['Pokemon'], squeeze=True)

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\1292718529.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  poke = pd.read_csv("data/pokemon.csv", usecols=['Pokemon'], squeeze=True)

In [12]:
st = pd.read_csv('data/stock.csv',squeeze=True)

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\2602963188.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  st = pd.read_csv('data/stock.csv',squeeze=True)

In [13]:
print(poke)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [14]:
print(st)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [16]:
poke.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [17]:
poke.tail(8)

713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [18]:
poke.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [19]:
poke.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [23]:
poke.sort_values(ascending = False, inplace=True)

In [26]:
poke.sort_values(inplace=True)

In [27]:
poke

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [28]:
poke.sort_index(ascending=True, inplace=True)
poke

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [30]:
poke = pd.read_csv("data/pokemon.csv", index_col = 'Pokemon', squeeze=True)
poke

C:\Users\HaNbiN\AppData\Local\Temp\ipykernel_26576\2238848651.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  poke = pd.read_csv("data/pokemon.csv", index_col = 'Pokemon', squeeze=True)

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [35]:
type(poke[4])

str

In [34]:
poke[[1,2,3]]

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [37]:
poke[1:4]

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [40]:
poke[['Ivysaur','Charmander']]

Pokemon
Ivysaur       Grass
Charmander     Fire
Name: Type, dtype: object

In [41]:
poke['Ivysaur':'Charmander']

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [43]:
poke.reindex(index=['Ivysaur','lizard']) # 해당 index가 없다면 생성

Pokemon
Ivysaur    Grass
lizard       NaN
Name: Type, dtype: object

In [47]:
poke.get(['Ivysaur','lizard']) #있으면 출력, 없으면 pass

In [49]:
st.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [51]:
st.count() #데이터의 개수

3012

In [52]:
st.sum() #값의 값

1006942.0

In [53]:
st.mean()

334.31009296148744

In [54]:
st.std() #표준편차

173.18720477113106

In [55]:
st.var() #분산

29993.807896437687

In [56]:
st.min()

49.95

In [57]:
st.max()

782.22

In [58]:
st.idxmin() #최솟값의 인덱스 출력

11

In [60]:
st[11]

49.95

In [61]:
st.idxmax() #최대값의 인덱스 출력

3011

In [62]:
st.median() #중앙값

283.315

In [63]:
st.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [65]:
st.add(3) #각각의 요소에 +3

0        53.12
1        57.10
2        57.65
3        55.38
4        55.95
         ...
3007    775.88
3008    774.07
3009    776.18
3010    774.61
3011    785.22
Name: Stock Price, Length: 3012, dtype: float64

In [67]:
st.sub(3)

0        47.12
1        51.10
2        51.65
3        49.38
4        49.95
         ...
3007    769.88
3008    768.07
3009    770.18
3010    768.61
3011    779.22
Name: Stock Price, Length: 3012, dtype: float64

In [68]:
st.mul(-1)

0       -50.12
1       -54.10
2       -54.65
3       -52.38
4       -52.95
         ...
3007   -772.88
3008   -771.07
3009   -773.18
3010   -771.61
3011   -782.22
Name: Stock Price, Length: 3012, dtype: float64

In [71]:
st = st.div(2)

In [72]:
st

0        25.060
1        27.050
2        27.325
3        26.190
4        26.475
         ...
3007    386.440
3008    385.535
3009    386.590
3010    385.805
3011    391.110
Name: Stock Price, Length: 3012, dtype: float64

In [73]:
poke.value_counts() # value가 포함된 횟수 반환, 내림차순

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [74]:
poke.unique() # unique() : value의 종류 반환, 중복없음

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [75]:
poke.nunique() # nunique() : value의 개수 반환, 중복없음

18

# 2차시