<a href="https://colab.research.google.com/github/hanbinChae/python-learning-univ/blob/main/7%EC%A3%BC%EC%B0%A8_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트

In [1]:
slist = ['영어','수학','시회','과학']
print(slist)

['영어', '수학', '시회', '과학']

리스트 요소 접근 및 변경

In [2]:
slist[2] = '윤리'

print(slist)

['영어', '수학', '윤리', '과학']

Random 예제 2

In [20]:
import random
num1=0
num2=0
num3=0
num4=0
num5=0

for i in range(100):
  num_int = random.randint(1,5)
  if (num_int == 1):
    num1+=1
  if (num_int == 2):
    num2+=1
  if (num_int == 3):
    num3+=1
  if (num_int == 4):
    num4+=1
  if (num_int == 5):
    num5+=1
  
print(num1 ,num2, num3, num4, num5)

23 25 15 20 17

In [24]:
import random

num_list = [0,0,0,0,0]

for i in range(100):
  num_int = random.randint(1,5)
  num_list[num_int-1] = num_list[num_int-1] + 1
  
print(num_list)

[25, 20, 17, 17, 21]

0~9 까지의 난수 빈도 저장

In [29]:
num_list = [0,0,0,0,0,0,0,0,0,0]

for i in range(100):
  num_int = random.randint(0,9)
  num_list[num_int] +=1

print(num_list)

[8, 10, 6, 15, 11, 15, 10, 9, 6, 10]

리스트 실습1

In [ ]:
import turtle


result = 0
input_list = []

while True:
    t = int(turtle.textinput("누적", "1~10, 0:종료"))
    input_list.append(t)
    if t==0:  
        break;
    else:
        result+=t
        print(result)
        

print(input_list)
turtle.bye()

함수 정의

In [31]:
def print_address():
  print('서울시 종로구 1번지')
  print('파이썬 빌딩 7층')
  print('홍길동')

print_address()

서울시 종로구 1번지
파이썬 빌딩 7층
홍길동

함수 인수 입력받기

In [34]:
def print_address(name):
  print('서울시 종로구 1번지')
  print('파이썬 빌딩 7층')
  print(name)

print_address('채한빈')

서울시 종로구 1번지
파이썬 빌딩 7층
채한빈

2개 이상의 인수 전달

In [35]:
def get_sum(start,end):
  sum=0
  for i in range(start,end+1):
    sum+=i
  print('sum =',sum)

get_sum(1,10)
get_sum(1,20)

sum = 55
sum = 210

기본 매개변수

In [ ]:
def get_sum(start,end=10):
  sum=0
  for i in range(start,end+1):
    sum+=i
  print('sum =',sum)

get_sum(1)
get_sum(1,20)

return 사용

In [39]:
def rectangular(x,y):
  area = x*y
  return area

area_a = rectangular(3,4)
area_b = rectangular(5,6)

print(area_a)
print(area_b)

area_sum = rectangular(3,4) + rectangular(5,6)
print(area_sum)

12
30
42

복수 개의 반환 값

In [40]:
def get_size():
  return 3,4

x,y = get_size()
print(x,",",y)

3 , 4

반환 값이 없는 return 사용

In [43]:
def odd_even(num):
  if num%2==0:
    print('짝수')
    return
  print('홀수')

odd_even(6)

짝수

함수 인수 예제

In [ ]:
import turtle
t = turtle.Turtle()
t.shape('turtle')

def square(length):
    for i in range(4):
        t.fd(length)
        t.left(90)

square(100)
t.up()
t.goto(200,0)
t.down()
square(200)

turtle.exitonclick()
turtle.bye()

함수 인수 실습

In [ ]:
import turtle
t = turtle.Turtle()
t.shape('turtle')

def square(x,y,length):
    t.up()
    t.goto(x,y)
    t.down()
    for i in range(4):
        t.fd(length)
        t.left(90)

square(0, 100, 50)
square(100, 50, 100)
square(-100, -100, 150)

turtle.exitonclick()
turtle.bye()

전역 변수

In [44]:
def rectangular_area():
  result = x*y
  return result

x=3
y=4
area = rectangular_area()
print(area)

12

전역 변수 활용 1

In [51]:
result = 0
def rectangular_area():
  global result 
  result = x*y

x=3
y=4
rectangular_area()
print(result)

12

키워드 인수

In [53]:
#위치 인수
def calc(x,y):
  return x-y

print(calc(y=10,x=20))
print(calc(20,10))

10
10

BMI 계산기

In [ ]:
import turtle

def bmi(weight,height):
    height = height/100
    result = weight/(height*height)
    return result

while True:
    weight = float(turtle.textinput("BMI", "몸무게"))
    height = float(turtle.textinput("BMI", "키"))
    
    if weight == 0:
        break;
        
    bmi_value = bmi(weight, height)
    #print(bmi_value)
    
    if bmi_value<18.5:
        print('저체중')
    elif bmi_value<22.9:
        print('정상')
    elif bmi_value<24.9:
        print('과체중')
    elif bmi_value<29.9:
        print('경도비만')
    else:
        print('고도비만')

turtle.bye()

환전 계산기

In [ ]:
import turtle

def change(cont,KRW):
    if cont=='미국':
        TBR = 1117.50
    elif cont =='일본':
        TBR = 1022.56
    elif cont =='유럽연합':
        TBR = 1343.24
    else:
        print('잘못된 국가 입력입니다.')
        result = 0
    result = KRW/TBR
    return result

while True:
    money = float(turtle.textinput("환전계산기", "KRW"))
    country = turtle.textinput("환전계산기", '국가')        
    
    if money == 0:
        break;
    change_value = change(country,money)
    print(change_value)

turtle.bye()

특정 요소 추출 함수 (LIST + 함수)

In [64]:
bts = ['슈가',174,57,
       '지민',173,58,
       '제이홉',177,59,
       '진',179,61,
       '뷔',180,60,
       '정국',178,65,
       'RM',181,70]

def BTS_sort(bts,x):
  if x=='name':
    name=[]
    name_list = [0,3,6,9,12,15,18]
    for i in name_list:
      name.append(bts[i])
    return name

  elif x=='height':
    height = []
    for i in range(1,20,3):
      height.append(bts[i])
    return height

  elif x=='weight':
    weight = []
    for i in range(2,21,3):
      weight.append(bts[i])
    return weight
  else:
    return;

bts_name = BTS_sort(bts,'name')
print('bts_name: ',bts_name)
bts_height = BTS_sort(bts,'height')
print('bts_height: ',bts_height)
bts_weight = BTS_sort(bts,'weight')
print('bts_weight: ',bts_weight)
bts_age = BTS_sort(bts,'age')
print('bts_age:',bts_age)

bts_name:  ['슈가', '지민', '제이홉', '진', '뷔', '정국', 'RM']
bts_height:  [174, 173, 177, 179, 180, 178, 181]
bts_weight:  [57, 58, 59, 61, 60, 65, 70]
bts_age: None