In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1. forestfires.csv 파일을 로드하여 forestfires에 저장하시오.

In [113]:
# 코드 작성
forestfires = pd.read_csv("data/forestfires.csv")

In [75]:
forestfires.head()

   X  Y month-day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5     3-fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4    10-tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4    10-sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6     3-fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6     3-sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

### 2. forestfires 각 열의 데이터 타입에 대해 설명하시오.

In [76]:
forestfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          517 non-null    int64
 1   Y          517 non-null    int64
 2   month-day  517 non-null    object
 3   FFMC       517 non-null    float64
 4   DMC        517 non-null    float64
 5   DC         517 non-null    float64
 6   ISI        517 non-null    float64
 7   temp       517 non-null    float64
 8   RH         517 non-null    int64
 9   wind       517 non-null    float64
 10  rain       517 non-null    float64
 11  area       517 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 48.6+ KB

[정답 작성]

### 3. forestfires의 'temp'열을 4개의 구간으로 나눈 뒤, 크기 순서대로 'very high', 'high', 'low', 'very low'로 대체하시오. (변경된 사항을 forestfires에 저장하시오.)

In [114]:
# 코드 작성
qcut_labels = ['very low', 'low', 'high','very high']
qcut_bins = [0, 0.2,0.5, 0.8, 1]
forestfires['temp'] = pd.qcut(forestfires['temp'], qcut_bins,qcut_labels)

In [17]:
forestfires.head()

   X  Y month-day  FFMC   DMC     DC  ISI      temp  RH  wind  rain  area
0  7  5     3-fri  86.2  26.2   94.3  5.1  very low  51   6.7   0.0   0.0
1  7  4    10-tue  90.6  35.4  669.1  6.7       low  33   0.9   0.0   0.0
2  7  4    10-sat  90.6  43.7  686.9  6.7       low  33   1.3   0.0   0.0
3  8  6     3-fri  91.7  33.3   77.5  9.0  very low  97   4.0   0.2   0.0
4  8  6     3-sun  89.3  51.3  102.2  9.6  very low  99   1.8   0.0   0.0

### 4. 'month-day'열의 값을 분리하고, 새로운 month열과 day열을 만들어 분리된 값을 해당 열에 각각 저장한 후, 'month-day'열은 삭제한 후, month 열의 데이터 타입을 정수(int)형으로 변경하시오. (변경된 사항을 forestfires에 저장하시오.)

In [115]:
# 코드 작성
# df['fruit'] = df.text.str.split(' ').str[0]

forestfires['month'] = forestfires['month-day'].str.split('-').str.get(0)
forestfires['month'] = forestfires['month'].astype('int')
forestfires['day'] = forestfires['month-day'].str.split('-').str.get(1)
forestfires = forestfires.drop(['month-day'],axis=1)
forestfires['day'] = forestfires['day'].astype('str')

In [116]:
forestfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   FFMC    517 non-null    float64
 3   DMC     517 non-null    float64
 4   DC      517 non-null    float64
 5   ISI     517 non-null    float64
 6   temp    517 non-null    category
 7   RH      517 non-null    int64
 8   wind    517 non-null    float64
 9   rain    517 non-null    float64
 10  area    517 non-null    float64
 11  month   517 non-null    int32
 12  day     517 non-null    object
dtypes: category(1), float64(7), int32(1), int64(3), object(1)
memory usage: 47.3+ KB

In [89]:
forestfires.head()

   X  Y  FFMC   DMC     DC  ISI      temp  RH  wind  rain  area month  day
0  7  5  86.2  26.2   94.3  5.1  very low  51   6.7   0.0   0.0     3  fri
1  7  4  90.6  35.4  669.1  6.7       low  33   0.9   0.0   0.0    10  tue
2  7  4  90.6  43.7  686.9  6.7       low  33   1.3   0.0   0.0    10  sat
3  8  6  91.7  33.3   77.5  9.0  very low  97   4.0   0.2   0.0     3  fri
4  8  6  89.3  51.3  102.2  9.6  very low  99   1.8   0.0   0.0     3  sun

### 5. 'month'열의 값이 12 또는 1 또는 2이고, 'day'열이 'sat'나 'sun'인 행만 추출하여, winter_weekend 이름으로 저장하시오.

In [136]:
# 코드 작성
winter_weekend = forestfires.query("month in [12,1,2] and day in ['sat','sun']")
winter_weekend

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,month,day
96,3,4,83.9,8.0,30.2,2.6,very low,48,1.8,0.0,0.00,2,sat
104,2,4,82.1,3.7,9.3,2.9,very low,78,3.1,0.0,0.00,1,sat
130,4,6,68.2,21.5,87.2,0.8,low,40,2.7,0.0,0.00,2,sat
182,5,4,86.8,15.6,48.3,3.9,very low,53,2.2,0.0,6.38,2,sun
202,7,4,83.9,8.7,32.1,2.1,very low,68,2.2,0.0,13.05,2,sun
273,4,6,84.4,27.2,353.5,6.8,very low,57,8.5,0.0,8.98,12,sun
282,6,3,84.9,27.5,353.5,3.4,very low,51,4.0,0.0,0.00,2,sun
379,4,5,18.7,1.1,171.4,0.0,very low,100,0.9,0.0,0.00,1,sun
395,4,5,85.0,9.0,56.9,3.5,very low,62,1.8,0.0,51.78,2,sun
407,4,5,84.7,8.2,55.0,2.9,very low,46,4.0,0.0,0.00,2,sat
465,2,2,79.5,3.6,15.3,1.8,very low,59,0.9,0.0,6.84,2,sat

In [137]:
winter_weekend.head()

     X  Y  FFMC   DMC    DC  ISI      temp  RH  wind  rain   area  month  day
96   3  4  83.9   8.0  30.2  2.6  very low  48   1.8   0.0   0.00      2  sat
104  2  4  82.1   3.7   9.3  2.9  very low  78   3.1   0.0   0.00      1  sat
130  4  6  68.2  21.5  87.2  0.8       low  40   2.7   0.0   0.00      2  sat
182  5  4  86.8  15.6  48.3  3.9  very low  53   2.2   0.0   6.38      2  sun
202  7  4  83.9   8.7  32.1  2.1  very low  68   2.2   0.0  13.05      2  sun

### 6. 'day'열의 값이 'mon'/'tue'/'wed'/'thu'/'fri'이면 'no', 'sat'/'sun'이면 'yes'로 값을 변경하시오. (변경된 사항을 forestfires에 저장하시오.)

In [147]:
# 코드 작성
# forestfires['day']
forestfires['day'] = np.where(forestfires['day'].isin(['mon','tue','wed','thu','fri']),'no','yes')

In [148]:
forestfires.head()

   X  Y  FFMC   DMC     DC  ISI      temp  RH  wind  rain  area  month  day
0  7  5  86.2  26.2   94.3  5.1  very low  51   6.7   0.0   0.0      3   no
1  7  4  90.6  35.4  669.1  6.7       low  33   0.9   0.0   0.0     10   no
2  7  4  90.6  43.7  686.9  6.7       low  33   1.3   0.0   0.0     10  yes
3  8  6  91.7  33.3   77.5  9.0  very low  97   4.0   0.2   0.0      3   no
4  8  6  89.3  51.3  102.2  9.6  very low  99   1.8   0.0   0.0      3  yes

### 7. 'day'열의 이름을 'weekend'으로 변경하시오. (변경된 사항을 forestfires에 저장하시오.)

In [151]:
# 코드 작성
forestfires=forestfires.rename(columns={'day':'weekend'})

In [152]:
forestfires.head()

   X  Y  FFMC   DMC     DC  ISI      temp  RH  wind  rain  area  month weekend
0  7  5  86.2  26.2   94.3  5.1  very low  51   6.7   0.0   0.0      3      no
1  7  4  90.6  35.4  669.1  6.7       low  33   0.9   0.0   0.0     10      no
2  7  4  90.6  43.7  686.9  6.7       low  33   1.3   0.0   0.0     10     yes
3  8  6  91.7  33.3   77.5  9.0  very low  97   4.0   0.2   0.0      3      no
4  8  6  89.3  51.3  102.2  9.6  very low  99   1.8   0.0   0.0      3     yes

### 8. 주말/주중 별('weekend'열) DC의 평균값과, area의 합을 보여주는 데이터프레임을 출력하시오.

In [156]:
# 코드 작성

6642.049999999999

### 9. 시리즈를 입력하였을 때, 시리즈의 요소 값을 최소값 0, 최대값 1로 정규화하는 함수를 작성하시오.

In [ ]:
# 코드 작성

### 10. 9번의 정규화함수를 사용하여, FFMC/DMC/DC/ISI 열을 0과 1사이 값으로 정규화한 결과를 fire_reg에 저장하시오.

In [ ]:
# 코드 작성

In [ ]:
fire_reg.head()

### 11. 'weekend'열과 'temp'열 2개의 열을 기준으로 그룹화 하고 각 그룹의 key를 출력하시오. (총 몇개의 그룹이 생성되는가?)

In [ ]:
# 코드 작성

[정답 작성]

### 12. index가 month열, columns가 weekend열, 값이 area와 RH, 통계식이 sum과 max인 피벗테이블을 만들고, pivot_fire에 저장하시오.

In [ ]:
# 코드 작성

In [ ]:
pivot_fire

### 13. pivot_fire 피벗테이블에서 주말(weekend = yes), RH와 area의 sum(합계)값 만 추출하여 pivot_weekend에 저장하시오.

In [ ]:
# 코드 작성

In [ ]:
pivot_weekend

### 14. FFMC/DMC/DC/ISI 각각의 분포를 비교할 수 있도록 하나의 차트에 나타내시오. (정규화된 값이 저장된 fire_reg 사용)

In [ ]:
# 코드 작성

### 15. 'area'열의 값이 0인 행을 모두 삭제하고 forestfires2에 저장하시오.

In [ ]:
# 코드 작성

In [ ]:
forestfires2.head()

### 16. forestfires2에서 'temp'의 'very high','high', 'low', 'very low'의 개수를 temp_count에 저장하시오. (index: 'very high','high', 'low', 'very low' / value: 각 데이터의 수)

In [ ]:
# 코드 작성

In [ ]:
temp_count

### 17. temp_count를 이용하여 'temp'의 값 각각이 차지하는 비율을 나타내는 차트를 그리고, 비중이 가장 큰 계절을 강조하여 나타내시오. (각 영역에 대한 label과 비율을 %로 표기하시오.)

In [ ]:
# 코드 작성

### 18. 정규화된 FFMC/DMC/DC/ISI 값이 저장된 fire_reg에 대해, 두 개의 변수 조합 간의 관계를 나타내는 산점도를 행렬로 나타내시오.

In [ ]:
# 코드 작성

### 19. 'temp'별 'DC'의 평균을 나타내는 시리즈를 만들고 해당 시리즈를 통해 차트를 그리시오.

In [ ]:
# 코드 작성

### 20. 위의 'temp'별 'DC' 평균을 나타내는 차트의 좌측 상단에, 'FFMC'와 'DMC'의 관계를 나타내는 차트를 중첩하여 그리시오.

In [ ]:
# 코드 작성